.list{
    list-style: none;
    padding: 1rem 0;
    display: flex;
}

.list > * + * {
    margin-left: 1rem;
}

.navAnchor{
    text-decoration: underline 2px;
}

.navAnchor:hover,
.navAnchor:focus{
    text-decoration: underline dotted 2px;
}